
//- uilang.com
//- add, remove, toggle
//- ".class", "#id", "target"
code
  | clicking on ".settings-trigger" toggles class "visible" on ".settings-etc"
  | clicking on "#start" adds class "is-running" to ".viewport"
  | clicking on ".stop" removes class "is-running" on ".viewport"

