doctype html
html(class="no-js" lang="" manifest="/auto.appcache")

  include _head.jade
  //- include _head-mobile-boilerplate.jade
  body
    .viewport
      block content

  //- include _mobile-boilerplate-content.jade