extends ./_layouts-includes/_layout.jade

block content

  .app-top-bar
    | timer
    //- button.button.test(onclick="alert('yo');" style="touch-action: none;")
    //-   | resp

  
  .bottom-nav.button.settings-trigger(style="touch-action: none;")
      | =

  .view.timer-settings
    .section.poses
      h1
        | Poses
      .ui.row
        .minus.integer.spinner.starts.attached.group
          | -
        .count
          | 23
        .plus.integer.spinner.ends.attached.group
          | +
    .section.slack
      h1
        | Slack
      .ui.row
        .poses
          .minus.integer.spinner.starts.attached.group
          
            | -
          .count
            | 5
          .plus.integer.spinner.ends.attached.group
        
            | +

    .section.time
      h1
        | Time
      .ui.row
        .poses
          .minus.integer.spinner.starts.attached.group
            | -
          .count
            | 30
          .plus.integer.spinner.ends.attached.group
            | +

    .section.start
      .start.button.full-width#start(style="touch-action: none;" onclick=("start()"))
        | Start

  .view.settings-etc
    button.button(onClick="location.reload(true)")
      | Reloadd

  .view.timer
    | timer view
    .timer-status
    .button.stop(style="touch-action: none;" onclick=("stop()"))
      | stop


  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade