extends ./_layouts-includes/_layout.jade

block content


  .viewport.context.touch
    .app-top-bar
      | yin yoga timer

    .section.poses
      h1
        | Poses
      .ui.row
        .minus.integer.spinner.starts.attached.group
          .button
            | -
        .count
          | 23
        .plus.integer.spinner.ends.attached.group
          .button
            | +
    .section.slack
      h1
        | Slack
      .poses
        .minus.integer.spinner.starts.attached.group
          .button
            | -
        .count
          | 5
        .plus.integer.spinner.ends.attached.group
          .button
            | +

    .section.time
      h1
        | Time
      .poses
        .minus.integer.spinner.starts.attached.group
          .button
            | -
        .count
          | 30
        .plus.integer.spinner.ends.attached.group
          .button
            | +

    .section.start
      .start.button.full-width
        | Start

  .viewport.settings-etc.context.touch
    button.button(onClick="location.reload(true)")
      | Reload



  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade