extends ./_layouts-includes/_layout.jade

block content

  .app-top-bar
    button.button.settings-trigger(style="touch-action: none;")
      | menu
    |  yin yoga timer 
    button.button.test(onclick="alert('yo');" style="touch-action: none;")
      | resp

  .viewport.context.touch
    .section.poses
      h1
        | Poses
      .ui.row
        .minus.integer.spinner.starts.attached.group
          .button
            | -
        .count
          | 23
        .plus.integer.spinner.ends.attached.group
          .button
            | +
    .section.slack
      h1
        | Slack
      .poses
        .minus.integer.spinner.starts.attached.group
          .button
            | -
        .count
          | 5
        .plus.integer.spinner.ends.attached.group
          .button
            | +

    .section.time
      h1
        | Time
      .poses
        .minus.integer.spinner.starts.attached.group
          .button
            | -
        .count
          | 30
        .plus.integer.spinner.ends.attached.group
          .button
            | +

    .section.start
      .start.button.full-width
        | Start

  .viewport.settings-etc.context.touch
    button.button(onClick="location.reload(true)")
      | Reload



  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade