extends ./_layouts-includes/_layout.jade

block content

  .app-top-bar
    | timer
    //- button.button.test(onclick="alert('yo');" style="touch-action: none;")
    //-   | resp

  
  .bottom-nav.button.settings-trigger(style="touch-action: none;")
      | =

  .view.timer-settings
    .section.poses
      h1
        | Poses
      .ui.row
        .minus.integer.spinner.starts.attached.group(onClick="crement ('poses', -1);")
          | -
        #posesCountDisplay.count
        .plus.integer.spinner.ends.attached.group(onClick="crement ('poses', 1);")
          | +
    .section.slack
      h1
        | Slack
      .ui.row
        .slack
          .minus.integer.spinner.starts.attached.group(onClick="crement ('slack', -1);")
            | -
          #SlackCountDisplay.count
          .plus.integer.spinner.ends.attached.group(onClick="crement ('slack', 1);")
        
            | +

    .section.time
      h1
        | Time
      .ui.row
        .poses
          .minus.integer.spinner.starts.attached.group(onClick="crement ('timeBudgetInMin', -1);")
            | -
          #TimeBudgetDisplay.count
          .plus.integer.spinner.ends.attached.group(onClick="crement ('timeBudgetInMin', 1);")
            | +

    .section.start
      .start.button.full-width#start(style="touch-action: none;" onclick=("start()"))
        | Start

  .view.settings-etc
    button.button(onClick="location.reload(true)")
      | Reloadd

  .view.timer
    | timer view
    .timer-status
    .button.stop(style="touch-action: none;" onclick=("stop()"))
      | stop


  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade