extends ./_layouts-includes/_layout.jade

block content

  .app-top-bar
    |  yin yoga timer 
    //- button.button.test(onclick="alert('yo');" style="touch-action: none;")
    //-   | resp

  
  .bottom-nav.button.settings-trigger(style="touch-action: none;")
      | =

  .view.timer-settings
    .section.poses
      h1
        | Poses
      .ui.row
        .minus.integer.spinner.starts.attached.group
          .button
            | -
        .count
          | 23
        .plus.integer.spinner.ends.attached.group
          .button
            | +
    .section.slack
      h1
        | Slack
      .ui.row
        .poses
          .minus.integer.spinner.starts.attached.group
            .button
              | -
          .count
            | 5
          .plus.integer.spinner.ends.attached.group
            .button
              | +

    .section.time
      h1
        | Time
      .ui.row
        .poses
          .minus.integer.spinner.starts.attached.group
            .button
              | -
          .count
            | 30
          .plus.integer.spinner.ends.attached.group
            .button
              | +

    .section.start
      .start.button.full-width#start(style="touch-action: none;")
        | Start

  .view.settings-etc
    button.button(onClick="location.reload(true)")
      | Reload

  .view.timer
    | timer view
    .button.stop(style="touch-action: none;")
      | stop


  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade